# Prerequisites
*.d
.idea/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/cmake-build-debug/*
/cmake-build-release/*
build/
.vscode/

!/cmake-build-debug/generate_cmake.sh
!/cmake-build-release/generate_cmake.sh

compile_commands.json
/.cmake
benchmark.log
/benchmark/benchmark

/.cache
